@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

:root {
    --light-color: #fff;
    --dark-color: #282828;
    --header-height: 70px;
    --search-height: 50px;
    --border-color: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--light-color);
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}

.container {
    text-align: center;
    height: calc(100vh - var(--header-height));
}

.header {
    height: var(--header-height);
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--search-height);
    gap: 10px;
    box-shadow: 0px 2px 8px 0px var(--border-color);
}

.search input[type="text"] {
    padding: 8px 10px;
    line-height: 1.5;
    font-size: 1rem;
    border: none;
    outline: none;
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid transparent;
    transition: all 200ms ease-in-out;
    width: 60%;
}

.search input[type="text"]:focus {
    border-left-color: transparent;
    border-bottom-color: var(--border-color);
    width: 61%;
}

.btn {
    padding: 8px 10px;
    background: transparent;
    border-radius: 2px;
    user-select: none;
    font-size: 1rem;
    border: 1px solid #007bff;
    cursor: pointer;
}

.btn:hover {
    border: var(--dark-color);
    background: #007bff;
    color: var(--light-color);
}

#recipe-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - (var(--header-height) + var(--search-height) + 20px));
    overflow: hidden;
    overflow-y: auto;
}

#recipe-container:hover {
    cursor: pointer;
}

.recipe {
    height: 300px;
    width: 300px;
    padding: 4px;
    box-shadow: 0px 0px 8px 2px var(--border-color);
    margin: 20px;
}

.recipe-title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.recipe-img {
    height: 210px;
}

.recipe-img img {
    height: 100%;
    width: 100%;
}

.recipe-text {
    height: 120px;
    visibility: visible;
    opacity: 1;
    transition: all 200ms ease-in-out;
    margin-top: 20px;
    /* overflow: hidden;
    overflow-y: auto; */
}

.recipe-text ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
    padding: 5px;
}

.recipe-text ul>li {
    padding: 5px;
}

/* lightbox */

.lightbox {
    /* display: none;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    overflow-y: scroll; */

    position: fixed;
    background: #ffb5b5;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: 1#fff;
    /* -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem; */
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem
}

.lightbox .x-btn {
    height: 10px;
    width: 10px;
}

.lightbox.show {
    display: block;
}

.lightbox .wrapper {
    margin-top: 0;
}

/* .lightbox .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 20px;
    width: 100%;
    max-width: 850px;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    height: auto;
} */

.wrapper header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

header .buttons i {
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    background: #8a6cff;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: 10px;
}


.preview-img {
    display: flex;
    justify-content: center;
}

.wrapper .preview-img .img {
    max-height: 65vh;
    max-width: 50vh;
}

.preview-img .img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.recipe-name {
    color: #fff;
    display: flex;
    align-items: center;
}

.recipe-name i {
    font-size: 1.4rem;
    margin-right: 10px;
}

.details .recipe-name span {
    font-size: 1.05rem;
}

header .recipe-name {
    color: #333;
}

header .recipe-name i {
    font-size: 1.7rem;
}

header .recipe-name span {
    font-size: 1.2rem;
}

@media (max-width:400px) {
    .lightbox {
        width: 90%;
    }
}